@font-face {font-family: poppins-light;src: url(fonts/poppins/Poppins-Light.ttf)}
@font-face {font-family: poppins;src: url(fonts/poppins/Poppins-Regular.ttf)}
@font-face {font-family: poppins-semibold;src: url(fonts/poppins/Poppins-SemiBold.ttf)}
@font-face {font-family: poppins-medium;src: url(fonts/poppins/Poppins-Medium.ttf)}
@font-face {font-family: poppins-bold;src: url(fonts/poppins/Poppins-Bold.ttf)}
@font-face {font-family: poppins-extrabold;src: url(fonts/poppins/Poppins-ExtraBold.ttf)}

@font-face {font-family: lato-light;src: url(fonts/lato/Lato-Light.ttf)}
@font-face {font-family: lato;src: url(fonts/lato/Lato-Regular.ttf)}
@font-face {font-family: lato-bold;src: url(fonts/lato/Lato-Bold.ttf)}
@font-face {font-family: lato-extrabold;src: url(fonts/lato/Lato-Black.ttf)}

[pagesuite],
[pagesuite] * {
    box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

/* scroll define */
::-webkit-scrollbar {
	width: 12px;
	background: #f9f9f9;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 2px rgba(0,0,0,1);
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1);
	background: white;
}

/* typography - poppins */
.pagesuite-poppins-light {
  font-family: poppins-light;
}
.pagesuite-poppins {
  font-family: poppins;
}
.pagesuite-poppins-semibold {
  font-family: poppins-semibold;
}
.pagesuite-poppins-medium {
  font-family: poppins-medium;
}
.pagesuite-poppins-bold {
  font-family: poppins-bold;
}
.pagesuite-poppins-extrabold {
  font-family: poppins-extrabold;
}

/* typography - lato */
.pagesuite-lato-light {
  font-family: lato-light;
}
.pagesuite-lato {
  font-family: lato;
}
.pagesuite-lato-bold {
  font-family: lato-bold;
}
.pagesuite-lato-extrabold {
  font-family: lato-extrabold;
}

/* html 5 elements */
[pagesuite] article,
article[pagesuite],
[pagesuite] aside,
aside[pagesuite],
[pagesuite] figcaption,
figcaption[pagesuite],
[pagesuite] figure,
figure[pagesuite],
[pagesuite] footer,
footer[pagesuite],
[pagesuite] header,
header[pagesuite],
[pagesuite] hgroup,
hgroup[pagesuite],
[pagesuite] main,
main[pagesuite],
[pagesuite] nav,
nav[pagesuite],
[pagesuite] section,
section[pagesuite] {
  margin: 0;
  padding: 0;
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}
.display-none {
  display: none !important;
}

/* --------------------------------------------------------------------------------------------- */
[pagesuite].section-decor-top {
  top: 0;
  left: 0;
}
[pagesuite].section-decor-bottom {
  bottom: 0;
  right: 0;

}
[pagesuite].section-decor-top,
[pagesuite].section-decor-bottom {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
}

[pagesuite].flip-top-right {
  transform: rotatey(180deg);
  width: 100%;
  display: block;
}
[pagesuite].flip-bottom-right {
  transform: rotatez(180deg);
  width: 100%;
  display: block;
  margin-bottom: -2px;
}
[pagesuite].flip-bottom-left {
  transform: rotatex(-180deg);
  width: 100%;
  display: block;
  margin-bottom: -2px;
}
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* logo global */
[pagesuite][logo] {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;
}
[pagesuite][logo] img {
    margin-right: 8px
}
[pagesuite][logo] path:nth-child(1) {
  stroke-dasharray: 116.43939208984375;
  stroke-dashoffset: 116.43939208984375;
  animation: line-anim 1s ease forwards, fill 0.1s ease forwards 0.2s;
}
[pagesuite][logo] path:nth-child(2) {
  stroke-dasharray: 103.67393493652344;
  stroke-dashoffset: 103.67393493652344;
  animation: line-anim 1s ease forwards 0.2s, fill 0.2s ease forwards 0.4s;
}
[pagesuite][logo] path:nth-child(3) {
  stroke-dasharray: 148.75192260742188;
  stroke-dashoffset: 148.75192260742188;
  animation: line-anim 1s ease forwards 0.4s, fill 0.3s ease forwards 0.6s;
}
[pagesuite][logo] path:nth-child(4) {
  stroke-dasharray: 107.00252532958984;
  stroke-dashoffset: 107.00252532958984;
  animation: line-anim 1s ease forwards 0.6s, fill 0.4s ease forwards 0.8s;
}
[pagesuite][logo] path:nth-child(5) {
  stroke-dasharray: 112.47874450683594;
  stroke-dashoffset: 112.47874450683594;
  animation: line-anim 1s ease forwards 0.8s, fill 0.5s ease forwards 1.0s;
}
[pagesuite][logo] path:nth-child(6) {
  stroke-dasharray: 96.13397216796875;
  stroke-dashoffset: 96.13397216796875;
  animation: line-anim 1s ease forwards 1.0s, fill 0.6s ease forwards 1.2s;
}
[pagesuite][logo] path:nth-child(7) {
  stroke-dasharray: 57.20301818847656;
  stroke-dashoffset: 57.20301818847656;
  animation: line-anim 1s ease forwards 1.2s, fill 0.7s ease forwards 1.4s;
}
[pagesuite][logo] path:nth-child(8) {
  stroke-dasharray: 77.72502136230469;
  stroke-dashoffset: 77.72502136230469;
  animation: line-anim 1s ease forwards 1.4s, fill 0.8s ease forwards 1.6s;
}
[pagesuite][logo] path:nth-child(9) {
  stroke-dasharray: 107.0025405883789;
  stroke-dashoffset: 107.0025405883789;
  animation: line-anim 1s ease forwards 1.6s, fill 0.9s ease forwards 1.8s;
}
@keyframes line-anim {
  to {
      stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
      fill: transparent;
  }

  to {
      fill: white;
  }
}
/* logo global */
/* ############################################################################################### */
/* logo desktop */
[pagesuite][logo][viewport-of="tablet"] {
  overflow: hidden;
  transform: scale(0.76);
  margin-left: -20px;
}
[pagesuite][logo][viewport-of="phone"] {
  display: none;
}
/* logo desktop */
/* ############################################################################################### */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* global */
[pagesuite][fixed-cta] {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}
[pagesuite][fixed-cta] svg,
[pagesuite][fixed-cta] svg path {
  transition: 0.5s;
}
[pagesuite][fixed-cta] > .fixed-cta__btn {
  /* transition: 0.5s; */
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(0,0,255,0.5); */
}
[pagesuite][fixed-cta] > .fixed-cta__btn button[symbol-btn] {
  font-size: 32px;
  background: white;
  color: #2c2c2c;
}
/* global */
/* ############################################################################################### */
/* desktop */
/* desktop */
/* desktop */
[pagesuite][viewport-of="desktop"][fixed-cta] svg {
  /* width: 352px;
  height: 348px; */
  width: 300px;
  height: 297px;
  /* background-color: rgba(0,255,0,0.5); */
}
[pagesuite][viewport-of="desktop"][fixed-cta] svg path {
  d: path("M277.841 287.612C284.795 293.853 289.69 295.844 300 297V0H26.4205C15.936 11.5685 11.9674 18.9294 7.67045 33.2845C1.01199 53.1617 0.126895 64.27 0 84.0647C0.000292774 100.07 0.966818 108.779 5.11364 123.75C9.48707 137.052 12.4696 144.186 20.4545 155.328C28.6918 166.713 33.7269 171.768 43.4659 178.371C56.5863 186.46 64.262 188.789 78.4091 190.319C95.2065 191.129 104.249 190.048 120.17 185.198C137.615 179.307 148.338 174.09 169.602 160.448C183.629 150.878 191.702 147.17 206.25 144.233C217.578 143.236 222.822 144.637 230.114 151.06C240.339 161.852 243.193 170.217 247.159 186.052C250.265 200.543 251.917 212.752 254.83 235.552C256.82 249.813 258.781 256.765 263.352 267.129C268.041 277.728 271.349 281.848 277.841 287.612Z");
}
[pagesuite][viewport-of="desktop"][fixed-cta] > .fixed-cta__btn {
  width: 300px;
  height: 150px;
  /* background-color: rgba(0,255,0,0.5); */
}
[pagesuite][viewport-of="desktop"][fixed-cta] > .fixed-cta__btn button[btn3] {
  margin-right: -32px;
}
/* ############################################################################################### */
/* tablet */
/* tablet */
/* tablet */
[pagesuite][viewport-of="tablet"][fixed-cta] svg,
[pagesuite][viewport-of="phone"][fixed-cta] svg {
  width: 135px;
  height: 112px;
  /* background-color: rgba(0,255,0,0.5); */
}
[pagesuite][viewport-of="tablet"][fixed-cta] svg path,
[pagesuite][viewport-of="phone"][fixed-cta] svg path {
  d: path("M135 52.6679V37.6199V0H15.6157C9.41887 6.79917 7.07324 11.1254 4.53358 19.5623C0.59813 31.2448 0.0750006 37.7735 0 49.4075C0.000173043 58.8144 0.571433 63.9328 3.02239 72.7318C5.60729 80.5497 7.37009 84.7426 12.0896 91.291C16.9581 97.9823 19.9341 100.953 25.6903 104.834C33.445 109.588 37.9817 110.957 46.3433 111.856C56.2713 112.333 61.6159 111.697 71.0261 108.847C81.3365 105.384 87.6744 102.318 100.243 94.3005C108.533 88.6756 112.401 87.2265 121 85.5C127.696 84.9141 135 87.5 135 87.5V80.5V73.9858V63.4522V52.6679Z");
}
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn,
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn {
padding: 30px 50px;
}
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn button[btn3],
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn button[btn3] {
  display: none;
}
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn div.burger-nav,
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn div.burger-nav {
  display: inline-block;
  cursor: pointer;
}
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn div.burger-nav > .bar1,
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn div.burger-nav > .bar2,
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn div.burger-nav > .bar3,
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn div.burger-nav > .bar1,
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn div.burger-nav > .bar2,
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn div.burger-nav > .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn div.burger-nav.toggled .bar1,
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn div.burger-nav.toggled .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn div.burger-nav.toggled .bar2,
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn div.burger-nav.toggled .bar2 {
  opacity: 0;
}
[pagesuite][viewport-of="tablet"][fixed-cta] > .fixed-cta__btn div.burger-nav.toggled .bar3,
[pagesuite][viewport-of="phone"][fixed-cta] > .fixed-cta__btn div.burger-nav.toggled .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* ############################################################################################### */
/* todo ------------------------ open cta svg */
[pagesuite][fixed-cta] svg.fixed-cta-svg-open {
  width: 100vw;
  height: 100vh;
}
[pagesuite][viewport-of='desktop'][fixed-cta] svg.fixed-cta-svg-open path {
  d: path("M2571 3000C2755 3000 2888.5 3000 3000 3000V0H0.017071C0.00936601 141.892 0.02031 64.8649 0.00936699 214.865C0.02031 413.513 0.013057 348.648 0.02031 527.027C0.023293 679.086 0.02031 750 0.02031 887.838C0.02031 1025.68 0.00936698 1013.51 0.02031 1131.08C0.00936698 1236.49 0.02031 1277.03 0.00936699 1475.68C-0.000468011 1654.05 0.02031 1690.54 0.02031 1832.43C0.013475 1978.38 0.006853 1994.59 0.012196 2136.49C0.002514 2298.65 0.006094 2310.81 0 2452.7C0.026702 2663.51 0.025406 2854.05 0.02031 3000C189.5 3000 276 3000 366 3000C550 3000 727 3000 842.5 3000C1055.5 3000 1308 3000 1502.5 3000C1733.5 3000 1899.5 3000 2080 3000C2303.5 3000 2415.5 3000 2571 3000Z");
}
[pagesuite][viewport-of='tablet'][fixed-cta] svg.fixed-cta-svg-open path,
[pagesuite][viewport-of='phone'][fixed-cta] svg.fixed-cta-svg-open path {
  d: path("M3061.44 1410.75V1007.68V0H0C3.8147e-06 214 0 116.5 0.000602722 372C0 683.5 0.000602722 629.5 0.000602722 956C0.000602722 1229.5 0.000602722 1326.5 0.000602722 1567C0.000278473 1792 0.000934601 1936 0.000610352 2124.5C0.000980539 2375 -0.000469208 2835.5 0.000606537 2996.16C300.5 2996.16 896 2996.16 1087 2996.16C1325.5 2996.16 1473.5 2996.16 1724.94 2996.16C2025.5 2996.16 2187.5 2996.16 2426 2996.16C2711 2996.16 2851.5 2996.16 3061.44 2996.16C3061.44 2844 3061.44 2343.75 3061.44 2343.75V2156.25V1981.76V1699.61V1410.75Z");
}
[pagesuite][viewport-of='desktop'][fixed-cta] svg.fixed-cta-svg-open + .fixed-cta__btn {
  width: initial;
  height: initial;
  padding: 50px
}
/* ############################################################################################### */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* image link global */
[pagesuite][socmed-link][viewport-of="desktop"] img,
[pagesuite][socmed-link][viewport-of="tablet"] img,
[pagesuite][socmed-link][viewport-of="phone"] img {
  display: block;
}
/* image link global */
/* ############################################################################################### */
/* image link desktop */
[pagesuite][socmed-link][viewport-of="desktop"] img {
  width: 40px;
  height: 40px;
}
/* image link desktop */
/* ############################################################################################### */
/* image link tablet & phone */
[pagesuite][socmed-link][viewport-of="tablet"] img,
[pagesuite][socmed-link][viewport-of="phone"] img {
  width: 38px;
  height: 38px;
}
/* image link tablet & phone */
/* ############################################################################################### */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* accordion link global */
[pagesuite][viewport-of="desktop"][accordion-link] {
  border: 1px solid red;
  display: inline-block;
  text-align: center;
}
[pagesuite][viewport-of="desktop"][accordion-link] > label {
  font-family: lato-extrabold;
  font-size: 25px;
}
[pagesuite][viewport-of="desktop"][accordion-link] > .accordion-link__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
[pagesuite][viewport-of="desktop"][accordion-link] > .accordion-link__links > a {
  color: inherit;
  font-family: lato;
  font-size: 20px;
}
/* accordion link global */
/* ############################################################################################### */
/* ############################################################################################### */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C1 GLOBAL */
[pagesuite][c1] {
    background: white;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #5757574D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
[pagesuite][c1] .figimg {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
[pagesuite][c1] .figimg > img {
    height: auto;
}
[pagesuite][c1]:hover img {
    filter: brightness(0) invert(100%);
    transition-delay: 0.15s;
}
[pagesuite][c1] .figcaption {
    z-index: 1;
}
[pagesuite][c1] .figcaption h1 {
    color: #2C2C2C;
    line-height: 1em;
    font-family: poppins-bold;
}
[pagesuite][c1]:hover .figcaption h1 {
    color: white;
    transition-delay: 0.13s;
}
[pagesuite][c1] .figcaption p {
    color: #898989;
    font-family: lato;
}
[pagesuite][c1]:hover .figcaption p {
    color: white;
    transition-delay: 0.1s;
}
[pagesuite][c1]:after {
    content: '';
    z-index: 0;
    transition: 0.3s;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 18px;
    background: linear-gradient(to right, #AB0E26, #62374E);
}
[pagesuite][c1]:hover:after {
    height: 100%;
}
/* C1 GLOBAL */
/* --------------------------------------------------------------------------------------------- */
/* C1 desktop */
/* C1 desktop */
/* C1 desktop */
[c1][viewport-of="desktop"][pagesuite] {
    width: 320px;
    height: 430px;
}
[c1][viewport-of="desktop"][pagesuite] .figimg {
    flex: 9;
}
[c1][viewport-of="desktop"][pagesuite] .figimg > img {
  max-width: 100%;
}
[c1][viewport-of="desktop"][pagesuite] .figcaption {
    padding: 0 32px;
    flex: 11;
}
[c1][viewport-of="desktop"][pagesuite] .figcaption h1 {
    font-size: 25px;
}
[c1][viewport-of="desktop"][pagesuite] .figcaption p {
    margin: 19px auto 0;
    font-size: 18px;
    line-height: 30px;
}
/* --------------------------------------------------------------------------------------------- */
/* C1 tablet */
/* C1 tablet */
/* C1 tablet */
[c1][viewport-of="tablet"][pagesuite] {
    width: 214px;
    height: 287px;
}
[c1][viewport-of="tablet"][pagesuite] .figimg {
    flex: 5;
}
[c1][viewport-of="tablet"][pagesuite] .figimg > img {
    max-width: 75%;
}
[c1][viewport-of="tablet"][pagesuite] .figcaption {
    padding: 0 14px;
    flex: 8;
}
[c1][viewport-of="tablet"][pagesuite] .figcaption h1 {
    font-size: 16px;
}
[c1][viewport-of="tablet"][pagesuite] .figcaption p {
    margin: 10px auto 0;
    font-size: 15px;
    line-height: 24px;
}
/* --------------------------------------------------------------------------------------------- */
/* C1 mobile */
/* C1 mobile */
/* C1 mobile */
[c1][viewport-of="phone"][pagesuite] {
    width: 364px;
    height: 220px;
}
[c1][viewport-of="phone"][pagesuite] .figimg {
    flex: 7;
}
[c1][viewport-of="phone"][pagesuite] .figimg > img {
    max-width: 75%;
}
[c1][viewport-of="phone"][pagesuite] .figcaption {
    flex: 9;
    padding: 0 24px;
}
[c1][viewport-of="phone"][pagesuite] .figcaption h1 {
    font-size: 16px;
}
[c1][viewport-of="phone"][pagesuite] .figcaption p {
    margin: 4px auto 0;
    font-size: 15px;
    line-height: 24px;
}
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C2 GLOBAL */
[pagesuite][c2] {
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #5757574D;
    text-align: center;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
[pagesuite][c2] h1 {
    color: #CC2027;
    font-family: poppins-extrabold;
}
[pagesuite][c2] p {
    color: #2C2C2C;
    font-family: poppins-bold;
}
[pagesuite][c2]:after {
    content: '';
    z-index: 0;
    transition: 0.3s;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 18px;
    background: linear-gradient(to right, #AB0E26, #62374E);
}
/* C2 GLOBAL */
/* --------------------------------------------------------------------------------------------- */
/* C2 desktop */
/* C2 desktop */
/* C2 desktop */
[c2][viewport-of="desktop"][pagesuite] {
    width: 424px;
    height: 224px;
}
[c2][viewport-of="desktop"][pagesuite] h1 {
    font-size: 60px;
}
[c2][viewport-of="desktop"][pagesuite] p {
    font-size: 22px;
    margin-top: 20px;
}
/* --------------------------------------------------------------------------------------------- */
/* C2 tablet */
/* C2 tablet */
/* C2 tablet */
[c2][viewport-of="tablet"][pagesuite] {
    width: 216px;
    height: 120px;
}
[c2][viewport-of="tablet"][pagesuite] h1 {
    font-size: 25px;
}
[c2][viewport-of="tablet"][pagesuite] p {
    font-size: 15px;
    margin-top: 8px;
}
/* --------------------------------------------------------------------------------------------- */
/* C2 phone */
/* C2 phone */
/* C2 phone */
[c2][viewport-of="phone"][pagesuite] {
    width: 328px;
    height: 154px;
}
[c2][viewport-of="phone"][pagesuite] h1 {
    font-size: 30px;
}
[c2][viewport-of="phone"][pagesuite] p {
    font-size: 16px;
    margin-top: 18px;
}
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C3 GLOBAL */
[pagesuite][c3] {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
[pagesuite][c3] .figimg {
    display: flex;
    justify-content: center;
    align-items: center;
}
[pagesuite][c3] .figimg img {
    height: auto;
}
[c3][pagesuite] .figcaption {
    margin-left: 40px;
}
[pagesuite][c3] .figcaption h1 {
    color: white;
    font-family: poppins-extrabold;
}
[pagesuite][c3] .figcaption p {
    margin-top: 8px;
    color: #ededed;
    font-family: lato;
}
[pagesuite][c3] .figcaption p {
    font-size: 18px;
}
/* C3 GLOBAL */
/* --------------------------------------------------------------------------------------------- */
/* C3 desktop */
/* C3 desktop */
/* C3 desktop */
[pagesuite][c3][viewport-of="desktop"] {
    max-width: 510px;
}
[c3][viewport-of="desktop"][pagesuite] .figimg {
    margin-top: 6px;
}
[c3][viewport-of="desktop"][pagesuite] .figimg img {
  max-width: 75px;
}
[c3][viewport-of="desktop"][pagesuite] .figcaption h1 {
    font-size: 30px;
}
/* --------------------------------------------------------------------------------------------- */
/* C3 tablet */
/* C3 tablet */
/* C3 tablet */
[pagesuite][c3][viewport-of="tablet"] {
    max-width: 510px;
}
[c3][viewport-of="tablet"][pagesuite] .figimg {
    margin-top: 4px;
}
[c3][viewport-of="tablet"][pagesuite] .figimg img {
  max-width: 60px;
}
[c3][viewport-of="tablet"][pagesuite] .figcaption h1 {
    font-size: 25px;
}
/* --------------------------------------------------------------------------------------------- */
/* C3 phone */
/* C3 phone */
/* C3 phone */
[pagesuite][c3][viewport-of="phone"] {
    max-width: 350px;
}
[c3][viewport-of="phone"][pagesuite] .figimg {
    margin-top: 4px;
}
[c3][viewport-of="phone"][pagesuite] .figimg img {
  max-width: 60px;
}
[c3][viewport-of="phone"][pagesuite] .figcaption h1 {
    font-size: 22px;
}
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C4 GLOBAL */
[c4][pagesuite] {
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #5757574D;
    text-align: center;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
[c4][pagesuite] .header {
    /* background: LightCyan; */
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
[c4][pagesuite] .header img {
    transition: 0.3s;
    position: relative;
    left: 0;
    bottom: 0;
}
[c4][pagesuite] .body {
    transition: 0.3s;
    /* background: LightYellow; */
    width: inherit;
    height: 0;
    flex: 0;
}
[c4][pagesuite] .container--top {
    opacity: 0;
    transition: 1s;
    transition-delay: 0.1s;
    width: inherit;
    position: relative;
    font-family: lato;
}
[c4][pagesuite] .container--top p {
    color: #898989;
}
[c4][pagesuite] .container--top:before {
    content: '“';
    width: 16px;
    height: 11px;
    position: absolute;
    color: #CC2027;
    font-family: poppins-extrabold;
}
[c4][pagesuite] .container--top:after {
    content: '“';
    width: 16px;
    height: 11px;
    position: absolute;
    color: #CC2027;
    font-family: poppins-extrabold;
    transform: rotate(180deg);
}
[c4][pagesuite] .container--bottom {
    opacity: 0;
    position: absolute;
    left: -100%;
    background: linear-gradient(to right, #AB0E26, #792A41);
    transition: 0.3s;
    border-top-right-radius: 15px;
    text-align: left;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}
[c4][pagesuite] .container--bottom p {
    color: white;
}
[c4][pagesuite] .container--bottom p:nth-of-type(1) {
    line-height: 1.5em;
    font-family: lato-bold;
}
[c4][pagesuite] .container--bottom p:nth-of-type(2),
[c4][pagesuite] .container--bottom p:nth-of-type(3) {
    font-family: poppins-light;
}
[c4][pagesuite]:after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 18px;
    background: linear-gradient(to right, #AB0E26, #62374E);
}
.swiper-slide-active[c4] .body {
    position: relative;
}
.swiper-slide-active[c4] .container--top {
  opacity: 1;
}
.swiper-slide-active[c4] .container--bottom {
  opacity: 1;
  left: 0;
}
/* C4 GLOBAL */
/* --------------------------------------------------------------------------------------------- */
/* C4 desktop */
/* C4 desktop */
/* C4 desktop */
[c4][pagesuite][viewport-of="desktop"] {
    width: 450px;
    height: 400px;
}
/* HEADER */
[c4][pagesuite][viewport-of="desktop"] .header {
    flex: 3;
}
[c4][pagesuite][viewport-of="desktop"] .body--container {
    height: 100%;
}
/* TOP */
[c4][pagesuite][viewport-of="desktop"] .container--top {
    padding: 0 42px;
    height: 212px;
}
    [c4][pagesuite][viewport-of="desktop"] .container--top:before {
        font-size: 40px;
        left: 42px;
        top: -34px;
    }
    [c4][pagesuite][viewport-of="desktop"] .container--top:after {
        font-size: 40px;
        right: 42px;
        top: -14px;
    }
[c4][pagesuite][viewport-of="desktop"] .container--top p {
    font-size: 18px;
    line-height: 28px;
}
/* BOTTOM */
[c4][pagesuite][viewport-of="desktop"] .container--bottom {
    bottom: 18px;
    padding: 18px 0 0 18px;
    width: 312px;
    height: 70px;
}
[c4][pagesuite][viewport-of="desktop"] .container--bottom p:nth-of-type(1) {
    font-size: 18px;
}
[c4][pagesuite][viewport-of="desktop"] .container--bottom p:nth-of-type(2),
[c4][pagesuite][viewport-of="desktop"] .container--bottom p:nth-of-type(3) {
    line-height: 1.5em;
    font-size: 15px;
}
/* ACTIVE SLIDE */
.swiper-slide-active[c4][viewport-of="desktop"] .body {
  flex: 7;
}
/* --------------------------------------------------------------------------------------------- */
/* C4 tablet & phone */
/* C4 tablet & phone */
/* C4 tablet & phone */
[c4][pagesuite][viewport-of="tablet"],
[c4][pagesuite][viewport-of="phone"] {
    width: 308px;
    height: 278px;
}
/* HEADER */
[c4][pagesuite][viewport-of="tablet"] .header,
[c4][pagesuite][viewport-of="phone"] .header {
    flex: 2;
}
[c4][pagesuite][viewport-of="tablet"] .header img,
[c4][pagesuite][viewport-of="phone"] .header img {
    max-width: 60%;
    height: auto;
}
[c4][pagesuite][viewport-of="tablet"] .body--container,
[c4][pagesuite][viewport-of="phone"] .body--container {
    height: 100%;
}
/* TOP */
[c4][pagesuite][viewport-of="tablet"] .container--top,
[c4][pagesuite][viewport-of="phone"] .container--top {
    padding: 0 20px;
    height: 212px;
}
    [c4][pagesuite][viewport-of="tablet"] .container--top:before,
    [c4][pagesuite][viewport-of="phone"] .container--top:before {
        font-size: 20px;
        left: 28px;
        top: -24px;
    }
    [c4][pagesuite][viewport-of="tablet"] .container--top:after,
    [c4][pagesuite][viewport-of="phone"] .container--top:after {
        font-size: 20px;
        right: 28px;
        top: -19px;
    }
[c4][pagesuite][viewport-of="tablet"] .container--top p,
[c4][pagesuite][viewport-of="phone"] .container--top p {
    font-size: 15px;
    line-height: 22px;
}
/* BOTTOM */
[c4][pagesuite][viewport-of="tablet"] .container--bottom,
[c4][pagesuite][viewport-of="phone"] .container--bottom {
    bottom: 0;
    padding: 0 0 0 18px;
    width: 212px;
    height: 56px;
}
[c4][pagesuite][viewport-of="tablet"] .container--bottom p:nth-of-type(1),
[c4][pagesuite][viewport-of="phone"] .container--bottom p:nth-of-type(1) {
    line-height: 1.5em;
    font-family: lato-bold;

    font-size: 13px;
}
[c4][pagesuite][viewport-of="tablet"] .container--bottom p:nth-of-type(2),
[c4][pagesuite][viewport-of="tablet"] .container--bottom p:nth-of-type(3),
[c4][pagesuite][viewport-of="phone"] .container--bottom p:nth-of-type(2),
[c4][pagesuite][viewport-of="phone"] .container--bottom p:nth-of-type(3) {
    font-family: poppins-light;

    font-size: 10px;
    line-height: 14px;
}
/* ACTIVE SLIDE */
.swiper-slide-active[c4][viewport-of="tablet"] .body,
.swiper-slide-active[c4][viewport-of="phone"] .body {
    flex: 5;
}
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C5 GLOBAL */
[c5][pagesuite] {
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #5757574D;
    text-align: center;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
[c5][pagesuite] .header {
    /* background: LightCyan; */
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
[c5][pagesuite] .header img {
    transition: 0.3s;
    position: relative;
    left: 0;
    bottom: 0;
}
[c5][pagesuite] .body {
    transition: 0.3s;
    /* background: LightYellow; */
    width: inherit;
    height: 0;
    flex: 0;
}
[c5][pagesuite] .container--top {
    opacity: 0;
    transition: 1s;
    transition-delay: 0.1s;
    width: inherit;
    position: relative;
    font-family: lato;
}
[c5][pagesuite] .container--top p {
    color: #898989;
}
[c5][pagesuite] .container--top:before {
    content: '“';
    width: 16px;
    height: 11px;
    position: absolute;
    color: #CC2027;
    font-family: poppins-extrabold;
}
[c5][pagesuite] .container--top:after {
    content: '“';
    width: 16px;
    height: 11px;
    position: absolute;
    color: #CC2027;
    font-family: poppins-extrabold;
    transform: rotate(180deg);
}
[c5][pagesuite] .container--bottom {
    opacity: 0;
    position: absolute;
    left: -100%;
    background: linear-gradient(to right, #AB0E26, #792A41);
    transition: 0.3s;
    border-top-right-radius: 15px;
    text-align: left;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}
[c5][pagesuite] .container--bottom p {
    color: white;
}
[c5][pagesuite] .container--bottom p:nth-of-type(1) {
    line-height: 1.5em;
    font-family: lato-bold;
}
[c5][pagesuite] .container--bottom p:nth-of-type(2),
[c5][pagesuite] .container--bottom p:nth-of-type(3) {
    font-family: poppins-light;
}
[c5][pagesuite]:after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 18px;
    background: linear-gradient(to right, #AB0E26, #62374E);
}
[c5][pagesuite]:hover .body,
.swiper-slide-active[c4] .body {
    position: relative;
}
[c5][pagesuite]:hover .container--top {
    opacity: 1;
}
[c5][pagesuite]:hover .container--bottom {
    opacity: 1;
    left: 0;
}
/* C5 GLOBAL */
/* --------------------------------------------------------------------------------------------- */
/* C5 desktop */
/* C5 desktop */
/* C5 desktop */
[c5][pagesuite][viewport-of="desktop"] {
    width: 450px;
    height: 400px;
}
/* HEADER */
[c5][pagesuite][viewport-of="desktop"] .header {
    flex: 3;
}
[c5][pagesuite][viewport-of="desktop"] .body--container {
    height: 100%;
}
/* TOP */
[c5][pagesuite][viewport-of="desktop"] .container--top {
    padding: 0 42px;
    height: 212px;
}
    [c5][pagesuite][viewport-of="desktop"] .container--top:before {
        font-size: 40px;
        left: 42px;
        top: -34px;
    }
    [c5][pagesuite][viewport-of="desktop"] .container--top:after {
        font-size: 40px;
        right: 42px;
        top: -14px;
    }
[c5][pagesuite][viewport-of="desktop"] .container--top p {
    font-size: 18px;
    line-height: 28px;
}
/* BOTTOM */
[c5][pagesuite][viewport-of="desktop"] .container--bottom {
    bottom: 18px;
    padding: 18px 0 0 18px;
    width: 312px;
    height: 70px;
}
[c5][pagesuite][viewport-of="desktop"] .container--bottom p:nth-of-type(1) {
    font-size: 18px;
}
[c5][pagesuite][viewport-of="desktop"] .container--bottom p:nth-of-type(2),
[c5][pagesuite][viewport-of="desktop"] .container--bottom p:nth-of-type(3) {
    line-height: 1.5em;
    font-size: 15px;
}
/* HOVERS */
[c5][pagesuite][viewport-of="desktop"]:hover .body {
    flex: 7;
}
/* --------------------------------------------------------------------------------------------- */
/* C5 tablet & phone */
/* C5 tablet & phone */
/* C5 tablet & phone */
[c5][pagesuite][viewport-of="tablet"],
[c5][pagesuite][viewport-of="phone"] {
    width: 308px;
    height: 278px;
}
/* HEADER */
[c5][pagesuite][viewport-of="tablet"] .header,
[c5][pagesuite][viewport-of="phone"] .header {
    flex: 2;
}
[c5][pagesuite][viewport-of="tablet"] .header img,
[c5][pagesuite][viewport-of="phone"] .header img {
    max-width: 60%;
    height: auto;
}
[c5][pagesuite][viewport-of="tablet"] .body--container,
[c5][pagesuite][viewport-of="phone"] .body--container {
    height: 100%;
}
/* TOP */
[c5][pagesuite][viewport-of="tablet"] .container--top,
[c5][pagesuite][viewport-of="phone"] .container--top {
    padding: 0 20px;
    height: 212px;
}
    [c5][pagesuite][viewport-of="tablet"] .container--top:before,
    [c5][pagesuite][viewport-of="phone"] .container--top:before {
        font-size: 20px;
        left: 28px;
        top: -24px;
    }
    [c5][pagesuite][viewport-of="tablet"] .container--top:after,
    [c5][pagesuite][viewport-of="phone"] .container--top:after {
        font-size: 20px;
        right: 28px;
        top: -19px;
    }
[c5][pagesuite][viewport-of="tablet"] .container--top p,
[c5][pagesuite][viewport-of="phone"] .container--top p {
    font-size: 15px;
    line-height: 22px;
}
/* BOTTOM */
[c5][pagesuite][viewport-of="tablet"] .container--bottom,
[c5][pagesuite][viewport-of="phone"] .container--bottom {
    bottom: 0;
    padding: 0 0 0 18px;
    width: 212px;
    height: 56px;
}
[c5][pagesuite][viewport-of="tablet"] .container--bottom p:nth-of-type(1),
[c5][pagesuite][viewport-of="phone"] .container--bottom p:nth-of-type(1) {
    line-height: 1.5em;
    font-family: lato-bold;

    font-size: 13px;
}
[c5][pagesuite][viewport-of="tablet"] .container--bottom p:nth-of-type(2),
[c5][pagesuite][viewport-of="tablet"] .container--bottom p:nth-of-type(3),
[c5][pagesuite][viewport-of="phone"] .container--bottom p:nth-of-type(2),
[c5][pagesuite][viewport-of="phone"] .container--bottom p:nth-of-type(3) {
    font-family: poppins-light;

    font-size: 10px;
    line-height: 14px;
}
/* HOVERS */
[c5][pagesuite][viewport-of="tablet"]:hover .body,
[c5][pagesuite][viewport-of="phone"]:hover .body {
    flex: 5;
}
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C6 GLOBAL */
[btn1][pagesuite][viewport-of="desktop"],
[btn1][pagesuite][viewport-of="tablet"],
[btn1][pagesuite][viewport-of="phone"] {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    /* min-width: 180px;
    min-height: 64px; */
    min-width: 52px;
    min-height: 52px;
    font-size: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* font-family: poppins-semibold; */
    font-family: poppins;
    border: none;
    outline: none;
    background: white;
    box-shadow: 5px 5px 10px #5757574D;
    color: #2c2c2c;
    cursor: pointer;
}
[btn1][pagesuite][viewport-of="desktop"]:active,
[btn1][pagesuite][viewport-of="tablet"]:active,
[btn1][pagesuite][viewport-of="phone"]:active {
    background: linear-gradient(white 60%, #eee);
}
/* C6 GLOBAL */
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C7 GLOBAL */
[btn2][pagesuite][viewport-of="desktop"],
[btn2][pagesuite][viewport-of="tablet"],
[btn2][pagesuite][viewport-of="phone"] {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    min-width: 158px;
    min-height: 52px;
    font-size: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: poppins;
    border: none;
    outline: none;
    background: linear-gradient(to right, #AB0E26, #061E33);
    box-shadow: 5px 5px 10px #5757574D;
    color: white;
    cursor: pointer;
}
[btn2][pagesuite][viewport-of="desktop"]:active,
[btn2][pagesuite][viewport-of="tablet"]:active,
[btn2][pagesuite][viewport-of="phone"]:active {
    background: linear-gradient(#62374E, #AB0E26);
}
/* C7 GLOBAL */
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C8 GLOBAL */
[btn3][pagesuite][viewport-of="desktop"],
[btn3][pagesuite][viewport-of="tablet"],
[btn3][pagesuite][viewport-of="phone"] {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    /* min-width: 180px;
    min-height: 64px; */
    min-width: 158px;
    min-height: 52px;
    font-size: 15px;
    /* font-size: 16px; */
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* font-family: poppins-semibold; */
    font-family: poppins;
    outline: none;
    background: none;
    border: 2px solid white;
    box-shadow: 5px 5px 10px #5757574D;
    color: white;
    cursor: pointer;
}
/* C8 GLOBAL */
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* C9 GLOBAL */
[symbol-btn][pagesuite][viewport-of="desktop"],
[symbol-btn][pagesuite][viewport-of="tablet"],
[symbol-btn][pagesuite][viewport-of="phone"] {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 52px;
    min-height: 52px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 10px #5757574D;
    cursor: pointer;
    line-height: 1em;
}
/* C9 GLOBAL */
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* newsletter GLOBAL */
form[newsletter][pagesuite] {
    /* margin: 22px 0 0 0; */
    position: relative;
    border: none;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background: white;
}
form[newsletter][pagesuite] input[type='text'] {
    height: inherit;
    border: none;
    border-radius: 15px;
    display: block;
    margin: 0;
    outline: none;
    font-size: 15px;
    background: none;
    color: #2c2c2c;
}
form[newsletter][pagesuite] input[type='text']::placeholder {
    font-size: 15px;
    font-family: lato-light;
    color: #2c2c2c;
}
form[newsletter][pagesuite] input[alt='Submit'] {
    display: block;
    background: linear-gradient(#C40018, #061E33);
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 14px;
}
/* newsletter GLOBAL */
/* --------------------------------------------------------------------------------------------- */
/* newsletter desktop */
/* newsletter desktop */
/* newsletter desktop */
form[newsletter][viewport-of="desktop"] {
    width: 440px;
    height: 53px;
}
form[newsletter][pagesuite][viewport-of="desktop"] input[type='text'] {
    width: 370px;
    padding: 5px 12px 4px 20px;
}
form[newsletter][pagesuite][viewport-of="desktop"] input[alt='Submit'] {
    width: 53px;
    height: 53px;
    right: -1px;
}
/* --------------------------------------------------------------------------------------------- */
/* newsletter tablet & phone */
/* newsletter tablet & phone */
/* newsletter tablet & phone */
form[newsletter][viewport-of="tablet"],
form[newsletter][viewport-of="phone"] {
    width: 350px;
    height: 46px;
}
form[newsletter][pagesuite][viewport-of="tablet"] input[type='text'],
form[newsletter][pagesuite][viewport-of="phone"] input[type='text'] {
    width: 290px;
    padding: 5px 12px 4px 20px;
}
form[newsletter][pagesuite][viewport-of="tablet"] input[alt='Submit'],
form[newsletter][pagesuite][viewport-of="phone"] input[alt='Submit'] {
    width: 46px;
    height: 46px;
    right: -1px;
}
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* newsletter GLOBAL */
[pagesuite].homepage-hero-headline h1 {
    font-family: poppins-bold;
    margin-bottom: 8px;
}   
[pagesuite].homepage-hero-headline p {
    font-family: lato;
}
/* newsletter GLOBAL */
/* --------------------------------------------------------------------------------------------- */
/* desktop */
/* desktop */
/* desktop */
[pagesuite].homepage-hero-headline[viewport-of="desktop"] {
    max-width: 680px;
    text-align: left;
}
[pagesuite].homepage-hero-headline[viewport-of="desktop"] h1 {
    font-size: 80px;
}
[pagesuite].homepage-hero-headline[viewport-of="desktop"] p {
    font-size: 22px;
}
/* --------------------------------------------------------------------------------------------- */
/* tablet */
/* tablet */
/* tablet */
[pagesuite].homepage-hero-headline[viewport-of="tablet"] {
    max-width: 510px;
    text-align: center;
}
[pagesuite].homepage-hero-headline[viewport-of="tablet"] h1 {
    font-size: 60px;
}
[pagesuite].homepage-hero-headline[viewport-of="tablet"] p {
    font-size: 20px;
}
/* --------------------------------------------------------------------------------------------- */
/* phone */
/* phone */
/* phone */
[pagesuite].homepage-hero-headline[viewport-of="phone"] {
    max-width: 330px;
    text-align: center;
}
[pagesuite].homepage-hero-headline[viewport-of="phone"] h1 {
    font-size: 35px;
}
[pagesuite].homepage-hero-headline[viewport-of="phone"] p {
    font-size: 16px;
}
/* --------------------------------------------------------------------------------------------- */



/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
/* ############################################################################################### */
[device-morph][pagesuite] {
  /* border: 1px solid red; */
  position: relative;
  overflow: hidden;
  transform: scale(0.7);
  width: 640px;
  height: 480px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes device-morph {
    0% {
      width: 210.5px;
      height: 423.3px;
      border-radius: 34px;
      padding: 14.5px 12.4px 11.4px;
      top: 0;
    }
  
    28% {
      width: 210.5px;
      height: 423.3px;
      border-radius: 34px;
      padding: 14.5px 12.4px 11.4px;
      top: 0;
    }
  
    33% {
      width: 424px;
      height: 522px;
      border-radius: 29px;
      padding: 15.4px 15px 15.2px;
      top: 0;
    }
  
    61% {
      width: 424px;
      height: 522px;
      border-radius: 29px;
      padding: 15.4px 15px 15.2px;
      top: 0;
    }
  
    66% {
      width: 975.7px;
      height: 535.8px;
      padding: 19.3px 28.2px 23.6px;
      border-top-left-radius: 19px;
      border-top-right-radius: 19px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      top: -30px;
    }
  
    95% {
      width: 975.7px;
      height: 535.8px;
      padding: 19.3px 28.2px 23.6px;
      border-top-left-radius: 19px;
      border-top-right-radius: 19px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      top: -30px;
    }
  
    100% {
      width: 210.5px;
      height: 423.3px;
      border-radius: 34px;
      padding: 14.5px 12.4px 11.4px;
      top: 0;
    }
  }
  
  [device-morph][pagesuite] .device {
    box-sizing: border-box;
    /* width: 210.5px;
    height: 423.3px; */
    background: #2c2c2c;
    padding: 14.5px 12.4px 11.4px;
    border-radius: 34px;
    z-index: 1;
    position: relative;
    transform: scale(0.65);
    animation: device-morph 6s infinite;
  }
  
  @keyframes btn-left-morph {
    0% {
      left: -1.5px;
    }
  
    28% {
      left: -1.5px;
    }
  
    33% {
      left: 0;
    }
  
    61% {
      left: 0;
    }
  
    66% {
      left: 0;
    }
  
    95% {
      left: 0;
    }
  
    100% {
      left: -1.5px;
    }
  }
  
  [device-morph][pagesuite] .left {
    width: 3px;
    height: 30.5px;
    background: #2c2c2c;
    border-radius: 5px;
    position: absolute;
    left: -1.5px;
    top: 88.5px;
    animation: btn-left-morph 6s infinite;
  }
  
  [device-morph][pagesuite] .left:before {
    content: '';
    width: 3px;
    height: 16px;
    background: #2c2c2c;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top: -30px;
  }
  
  [device-morph][pagesuite] .left:after {
    content: '';
    width: 3px;
    height: 30px;
    background: #2c2c2c;
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top: 38px;
  }
  
  @keyframes btn-right-morph1 {
    0% {
      right: -1.5px;
      top: 99px;
      height: 48px;
    }
  
    28% {
      right: -1.5px;
      top: 99px;
      height: 48px;
    }
  
    33% {
      height: 38.6px;
      right: -1.5px;
      top: 44.4px;
    }
  
    61% {
      height: 38.6px;
      right: -1.5px;
      top: 44.4px;
    }
  
    66% {
      right: 0;
    }
  
    95% {
      right: 0;
    }
  
    100% {
      right: -1.5px;
      top: 99px;
      height: 48px;
    }
  }
  
  [device-morph][pagesuite] .right {
    width: 3px;
    height: 48px;
    background: #2c2c2c;
    border-radius: 5px;
    position: absolute;
    right: -1.5px;
    top: 99px;
    animation: btn-right-morph1 6s infinite;
  }
  
  @keyframes btn-right-morph2 {
    0% {
      width: 0;
      top: -101px;
    }
  
    28% {
      width: 0;
      top: -101px;
    }
  
    33% {
      width: 24.5px;
      top: -46px;
    }
  
    61% {
      width: 24.5px;
      top: -46px;
    }
  
    66% {
      width: 0;
    }
  
    95% {
      width: 0;
    }
  
    100% {
      width: 0;
      top: -101px;
    }
  }
  
  [device-morph][pagesuite] .right:before {
    content: '';
    width: 0;
    height: 3px;
    background: #2c2c2c;
    border-radius: 5px;
    position: absolute;
    right: 39px;
    top: -46px;
    animation: btn-right-morph2 6s infinite;
  }
  
  @keyframes btn-right-morph3 {
    0% {
      width: 0;
    }
  
    28% {
      width: 0;
    }
  
    33% {
      width: 3px;
    }
  
    61% {
      width: 3px;
    }
  
    66% {
      width: 0;
    }
  
    95% {
      width: 0;
    }
  
    100% {
      width: 0;
    }
  }
  
  [device-morph][pagesuite] .right:after {
    content: '';
    width: 0;
    height: 36.5px;
    background: #2c2c2c;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 48.5px;
    animation: btn-right-morph3 6s infinite;
  }
  
  @keyframes screen {
    0% {
      border-radius: 23px;
    }
  
    28% {
      border-radius: 23px;
    }
  
    33% {
      border-radius: 25px;
    }
  
    61% {
      border-radius: 25px;
    }
  
    66% {
      border-radius: 5px;
    }
  
    95% {
      border-radius: 5px;
    }
  
    100% {
      border-radius: 23px;
    }
  }
  
  [device-morph][pagesuite] .screen {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 23px;
    animation: screen 6s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  @keyframes iphonescreen {
    0% {
      opacity: 1;
    }
  
    28% {
      opacity: 1;
    }
  
    33% {
      opacity: 0;
    }
  
    61% {
      opacity: 0;
    }
  
    66% {
      opacity: 0;
    }
  
    95% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes notch {
    0% {
      height: 15.8px;
    }
  
    28% {
      height: 15.8px;
    }
  
    33% {
      height: 0;
    }
  
    61% {
      height: 0;
    }
  
    66% {
      height: 0;
    }
  
    95% {
      height: 0;
    }
  
    100% {
      height: 15.8px;
    }
  }
  
  [device-morph][pagesuite] .screen>img:nth-child(1) {
    box-sizing: border-box;
    padding: 0 3px;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: -1.2px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: notch 6s infinite;
  }

  [device-morph][pagesuite] .screen>img:nth-child(2) {
    animation: iphonescreen 6s infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @keyframes tabletscreen {
    0% {
      opacity: 0;
    }
  
    28% {
      opacity: 0;
    }
  
    33% {
      opacity: 1;
    }
  
    61% {
      opacity: 1;
    }
  
    66% {
      opacity: 0;
    }
  
    95% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  [device-morph][pagesuite] .screen>img:nth-child(3) {
    animation: tabletscreen 6s infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @keyframes imacscreen {
    0% {
      opacity: 0;
    }
  
    28% {
      opacity: 0;
    }
  
    33% {
      opacity: 0;
    }
  
    61% {
      opacity: 0;
    }
  
    66% {
      opacity: 1;
    }
  
    95% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  [device-morph][pagesuite] .screen>img:nth-child(4) {
    animation: imacscreen 6s infinite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @keyframes settings {
    0% {
      height: 2px;
      bottom: 20.1px;
      width: 67px;
    }
  
    28% {
      height: 2px;
      bottom: 20.1px;
      width: 67px;
    }
  
    33% {
      height: 4px;
      bottom: 28.5px;
      width: 92.2px;
    }
  
    61% {
      height: 4px;
      bottom: 28.5px;
      width: 92.2px;
    }
  
    66% {
      height: 0;
    }
  
    95% {
      height: 0;
    }
  
    100% {
      height: 2px;
      bottom: 20.1px;
      width: 67px;
    }
  }
  
  [device-morph][pagesuite] .settings {
    width: 67px;
    height: 2px;
    background: #2c2c2c;
    border-radius: 15px;
    position: absolute;
    bottom: 20.1px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: settings 6s infinite;
  }
  
  @keyframes stand {
    0% {
      height: 0;
    }
  
    28% {
      height: 0;
    }
  
    33% {
      height: 0;
    }
  
    61% {
      height: 0;
    }
  
    66% {
      height: 145px;
    }
  
    95% {
      height: 145px;
    }
  
    100% {
      height: 0;
    }
  }
  
  [device-morph][pagesuite] .stand {
    content: '';
    width: 100%;
    height: 145px;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    animation: stand 6s infinite;
    overflow: hidden;
  }

  [device-morph][pagesuite] .stand > img {
    width: 100%;
  }